.test{
position: absolute;
width:110px;
left: 20px;
border: blue solid 5px;
background-color: red;
}

.tester{
	position: absolute;
	width: 500px;
	left: 500px;
	border: blue solid 5px;
	background-color: white;
}


.testung{
	position: absolute;
	width: 500px;
	left: 500px;
	border: blue solid 5px;
	background-color: white;
}

.Punkt{
	position: absolute;
	width: 500px;
	left: 500px;
	border: blue solid 5px;
	background-color: white;
}

.Komma{
	position: absolute;
	width: 500px;
	left: 500px;
	border: blue solid 5px;
	background-color: white;
}

.Doppel{
	position: absolute;
	width: 500px;
	left: 500px;
	border: blue solid 5px;
	background-color: white;
}

.Doppelpunkt{
	position: absolute;
	width: 500px;
	left: 500px;
	border: blue solid 5px;
	background-color: white;
}

.picture{
	background-image: url(Bild1.jpg.) ;
	height: 85%;
	width: 85%;
}